.slider {
    position: relative;
    width: 100%;
    background: #2c3e50;
}

.myslider {
    height: 500px;
    display: none;
    overflow: hidden;
}

.myslider img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transform: scale(1.5, 1.5);
    animation-name: zoomin;
    animation-duration: 40s;
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1)
    }

    to {
        transform: scale(1.5, 1.5)
    }
}


@keyframes zoomin {
    from {
        transform: scale(1, 1)
    }

    to {
        transform: scale(1.5, 1.5)
    }
}

.prev,
.next {
    padding: 0 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    cursor: pointer;
    color: #fafafa;
    transition: 0.1s;
    user-select: none;
}

.prev:hover,
.next:hover {
    color: #58a3f3fe;
}

.next {
    right: 0;
}

.dotbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.active,
.dot:hover {
    border-color: #58a3f3fe;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-name: fade;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

.text {
    position: absolute;
    color: rgb(249, 246, 246);
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 9%;
    animation-name: posi;
    animation-duration: 2s;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    z-index: 1;
}

.text h1 {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.text p {
    font-weight: bold;
    font-size: 20px;
}

@-webkit-keyframes posi {
    from {
        left: 25%
    }

    to {
        left: 9%
    }
}

@keyframes posi {
    from {
        left: 25%
    }

    to {
        left: 9%
    }
}